<div class="quote">
    <h1 class="display">Most important information goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec sit amet vestibulum ligula, eu ultricies nibh. Sed eu dolor neque. Vestibulum rhoncus ligula a leo
        placerat, vitae scelerisque purus malesuada. Pellentesque vel fringilla lacus. Mauris auctor lectus eget eros
        dapibus imperdiet. Maecenas at placerat odio.</h1>
</div>

<section class="my">
    <h3>Courier Delivery Service</h3>
    <div class="media">
        <div class="media-body">
            <p>JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products). It is important
                that you provide correct address information. If after three failed attempts of delivering your
                products, it will be held at your closest Purolator depot for two weeks for pick up. If your order is
                not picked up, it will be returned to the JYSK store that sent the product out. At this point, a refund
                will be given to you for only the products.</p>
            <p>You will receive a shipment email with a Purolator tracking number once your order is ready for delivery.
                You will be able to start tracking your order at <a href="http://www.purolator.com"
                    rel="nofollow">http://www.purolator.com</a> once Purolator picks up the products from the JYSK
                store.</p>
        </div>
        <img src="./img/car.jpg" alt="Warehouse Truck">
    </div>
</section>

<section class="my">
    <h3>Local Delivery Service</h3>
    <p>YSK.lv uses 3rd party delivery companies to send furniture and mattress products. All deliveries will be a two
        man service and will be either first-point-of-entry or any room in the house depending on location.</p>
    <ul>
        <li>The best shipping company in the world</li>
        <li>Another bullet point outlining the good local deliveries</li>
        <li>The third bullet point example</li>
    </ul>
</section>

<section class="my">
    <div class="grid">
        <div class="col-10 col-lg-4">
            <div class="block">
                <div class="circle">
                    <i class="fas fa-mail-bulk fa-lg"></i>
                </div>
                <div class="block-body ml">
                    <div class="block-title" style="margin-bottom:10px;">
                        Saņem atlaides kodu
                    </div>
                    <div class="block-text">
                        Saņem reģistrācijas apstiprinājumu un<br>atlaides kodu uz e-pastu.
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="circle">
                    <i class="fas fa-shopping-basket fa-lg"></i>
                </div>
                <div class="block-body ml">
                    <div class="block-title" style="margin-bottom:10px;">
                        Saņem atlaides kodu
                    </div>
                    <div class="block-text">
                        Saņem reģistrācijas apstiprinājumu un<br>atlaides kodu uz e-pastu.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 col-lg-3">
            <div class="block block-center">
                <div class="circle">
                    <i class="fas fa-mail-bulk fa-lg"></i>
                </div>
                <div class="block-body">
                    <div class="block-title" style="margin-bottom:10px;">
                        Saņem atlaides kodu
                    </div>
                    <div class="block-text">
                        Saņem reģistrācijas apstiprinājumu un<br>atlaides kodu uz e-pastu.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 col-lg-3">
            <div class="block block-center">
                <div class="circle">
                    <i class="fas fa-mail-bulk fa-lg"></i>
                </div>
                <div class="block-body">
                    <div class="block-title" style="margin-bottom:10px;">
                        Saņem atlaides kodu
                    </div>
                    <div class="block-text">
                        Saņem reģistrācijas apstiprinājumu un<br>atlaides kodu uz e-pastu.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my">
    <div class="grid">
        <div class="col-10 col-lg-5">
            <h3>Half column content</h3>
            <p>JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products). It is important
                that you provide correct address information. If after three failed attempts of delivering your
                products, it will be held at your closest Purolator depot for two weeks for pick up. If your order is
                not picked up, it will be returned to the JYSK store that sent the product out. At this point, a refund
                will be given to you for only the products.</p>
            <p>You will receive a shipment email with a Purolator tracking number once your order is ready for delivery.
                You will be able to start tracking your order at <a href="http://www.purolator.com"
                    rel="nofollow">http://www.purolator.com</a> once Purolator picks up the products from the JYSK
                store.</p>
        </div>
        <div class="col-10 col-lg-5">
            <h3>Half column content</h3>
            <p>JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products). It is important
                that you provide correct address information. If after three failed attempts of delivering your
                products, it will be held at your closest Purolator depot for two weeks for pick up. If your order is
                not picked up, it will be returned to the JYSK store that sent the product out. At this point, a refund
                will be given to you for only the products.</p>
            <p>You will receive a shipment email with a Purolator tracking number once your order is ready for delivery.
                You will be able to start tracking your order at <a href="http://www.purolator.com"
                    rel="nofollow">http://www.purolator.com</a> once Purolator picks up the products from the JYSK
                store.</p>
        </div>
    </div>
</section>

<section class="my">
    <h3>Full width paragraph</h3>
    <div class="subtitle">H3 Subtitle</div>
    <p>JYSK.lv uses 3rd party delivery companies to send furniture and mattress products. All deliveries will be a two
        man service and will be either first-point-of-entry or any room in the house depending on location.</p>
</section>


<section class="table-lg">
    <table class="my">
        <thead>
            <tr>
                <th></th>
                <th scope="col">A table example column 1</th>
                <th scope="col">Another Column</th>
                <th scope="col">Last column</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Row title<br />in two lines</th>
                <td>Some text aligned in center of cell</td>
                <td>Second row example</td>
                <td>Last column row</td>
            </tr>
            <tr>
                <th scope="row">Small row title</th>
                <td>Lorem ipsum dolor jysk amet.</td>
                <td>Consectuam</td>
                <td><i class="fas fa-check fa-sm"></i> Integrated</td>
            </tr>
            <tr>
                <th scope="row">Small row title</th>
                <td>Lorem ipsum dolor jysk amet.</td>
                <td><i class="fas fa-check fa-sm"></i> Yes</td>
                <td>This was an empty cell</td>
            </tr>
            <tr>
                <th scope="row">Row title<br />in three long lines<br />to show fluidity</th>
                <td>Two lines content<br />can go there</td>
                <td>Numbers of row is unlimited, and the content will stretch according to it.</td>
                <td>Two lines content<br />can go there</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="table-sm">
    <table class="my">
        <thead>
            <tr>
                <th scope="col" colspan="2">A table example column 1</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Row title<br />in two lines</th>
                <td>Some text aligned in center of cell</td>
            </tr>
            <tr>
                <th scope="row">Small row title</th>
                <td>Lorem ipsum dolor jysk amet.</td>
            </tr>
            <tr>
                <th scope="row">Small row title</th>
                <td>Lorem ipsum dolor jysk amet.</td>
            </tr>
            <tr>
                <th scope="row">Row title<br />in three long lines<br />to show fluidity</th>
                <td>Two lines content<br />can go there</td>
            </tr>
        </tbody>
    </table>

    <table class="my">
        <thead>
            <tr>
                <th scope="col" colspan="2">Another Column</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Row title<br />in two lines</th>
                <td>Second row example</td>
            </tr>
            <tr>
                <th scope="row">Small row title</th>
                <td>Consectuam</td>
            </tr>
            <tr>
                <th scope="row">Small row title</th>
                <td><i class="fas fa-check fa-sm"></i> Yes</td>
            </tr>
            <tr>
                <th scope="row">Row title<br />in three long lines<br />to show fluidity</th>
                <td>Numbers of row is unlimited, and the content will stretch according to it.</td>
            </tr>
        </tbody>
    </table>

    <table class="my">
        <thead>
            <tr>
                <th scope="col" colspan="2">Last column</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Row title<br />in two lines</th>
                <td>Last column row</td>
            </tr>
            <tr>
                <th scope="row">Small row title</th>
                <td><i class="fas fa-check fa-sm"></i> Integrated</td>
            </tr>
            <tr>
                <th scope="row">Small row title</th>
                <td>This was an empty cell</td>
            </tr>
            <tr>
                <th scope="row">Row title<br />in three long lines<br />to show fluidity</th>
                <td>Two lines content<br />can go there</td>
            </tr>
        </tbody>
    </table>
</section>