@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #46536c;
  background-color: #ffffff; }

h2 {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 700; }

h3 {
  margin: 0;
  font-size: 1.1875rem;
  font-weight: 700; }

p, li {
  margin: 0;
  color: #85878f;
  line-height: 1.625rem; }

ul {
  margin-bottom: 2rem; }
  ul li {
    font-weight: 700; }

a {
  color: #6ea2ff; }

.display {
  font-size: 1.625rem;
  font-weight: 300;
  color: #85b73c;
  line-height: 2.5rem; }

.subtitle {
  font-size: 1.0625rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #6ea2ff; }

h2, h3, p, .subtitle {
  margin-bottom: 1rem; }

img {
  width: 100%;
  display: flex;
  margin: 1.5rem auto 1.5rem auto; }

.media {
  flex-direction: column-reverse;
  display: flex; }

.page-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.block {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 2rem; }
  .block-title {
    text-transform: uppercase; }
  .block-text {
    font-size: 13px; }
  .block-body {
    margin-left: 1.5rem; }

.circle {
  background-color: #003187;
  border-radius: 50%;
  width: 2.625rem;
  height: 2.625rem;
  line-height: 2.625rem;
  text-align: center;
  color: #ffffff; }

.block-center {
  display: inline-grid;
  text-align: center; }
  .block-center .block-body {
    margin-left: 0; }
  .block-center .circle {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto; }

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr); }

.col-5 {
  grid-column: auto / span 5; }

.col-10 {
  grid-column: auto / span 10; }

.fa-check {
  color: #85b73c; }

table {
  width: 100%;
  border-collapse: collapse;
  color: #8392af; }
  table thead {
    background-color: #f0f4fb;
    text-transform: uppercase; }
  table th, table td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #e3eaf6;
    padding: 1.5rem;
    max-width: 12rem; }
  table th[scope=row] {
    background-color: #fcfdfe;
    text-align: start;
    padding-left: 1rem;
    font-weight: 400; }

@media (min-width: 992px) {
  .page-wrapper {
    max-width: 950px;
    padding: 0; }
  .media {
    align-items: flex-start;
    flex-direction: row; }
  img {
    margin: 0 2rem 0 2rem; }
  .grid {
    grid-gap: 2rem; }
  .col-lg-3 {
    grid-column: auto / span 3; }
  .col-lg-4 {
    grid-column: auto / span 4; }
  .col-lg-5 {
    grid-column: auto / span 5; } }

.my {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
