// Small devices
@mixin media-sm {
    @media (min-width: #{$media-sm-width}) {
        @content;
    }
}

// Medium devices
@mixin media-md {
    @media (min-width: #{$media-md-width}) {
        @content;
    }
}

// Large devices
@mixin media-lg {
    @media (min-width: #{$media-lg-width}) {
        @content;
    }
}