// Colors
$white:                     #ffffff;
$light-blue:                #cddaf0;
$jysk-blue:                 #003187;
$dark:                      #373b42;
$copy:                      #46536c;
$green:                     #85b73c;
$orange:                    #f47b20;

// Typography
$font-family-sans-serif:    'Open Sans', Helvetica, Arial, sans-serif;
$font-family-base:          $font-family-sans-serif;

$font-size-base:            0.875rem;

$h1-font-size:              1.9375rem;
$h2-font-size:              0.875rem;
$h3-font-size:              1.1875rem;

$bc-font-size:              0.75rem;

$display:                   1.625rem;

$font-weight-light:         300;
$font-weight-normal:        400;
$font-weight-bolder:        600;
$font-weight-bold:          700;

$line-height:               1.625rem;

// More
$spacer:                    1rem;

// Media
$media-sm-width:            576px;
$media-md-width:            768px;
$media-lg-width:            992px;
