// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

// Variables
@import "variables";

// Mixins
@import "mixins";

body {
    margin: 0;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $copy;
    background-color: $white;
}

h2 {
    margin: 0;
    font-size: $h2-font-size;
    font-weight: $font-weight-bold;
}

h3 {
    margin: 0;
    font-size: $h3-font-size;
    font-weight: $font-weight-bold;
}

p, li {
    margin: 0;
    color: #85878f;
    line-height: $line-height;
}

ul {
    margin-bottom: 2rem;

    li {
        font-weight: $font-weight-bold;
    }
    
}
a {
    color: lighten($jysk-blue, 45);
}

.display {
    font-size: $display;
    font-weight: $font-weight-light;
    color: $green;
    line-height: 2.5rem;
}

.subtitle {
    font-size: 1.0625rem;
    text-transform: uppercase;
    font-weight: $font-weight-light;
    color: lighten($jysk-blue, 45);
}

h2, h3, p, .subtitle {
    margin-bottom: 1rem;
}

// Main

img {
    width: 100%;
    display: flex;
    margin: 1.5rem auto 1.5rem auto;
}

.media {
    flex-direction: column-reverse;
    display: flex;
}

.page-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.block {
    font-weight: $font-weight-bolder;
    display: flex;
    align-items: center; 
    margin-bottom: 2rem;

    &-title {
        text-transform: uppercase;
    }

    &-text {
        font-size: 13px;
    }

    &-body {
        margin-left: 1.5rem;
    }
}

.circle {
    background-color: $jysk-blue;
    border-radius: 50%;
    width: 2.625rem;
    height: 2.625rem;
    line-height: 2.625rem;
    text-align: center;
    color: $white;
}

.block-center {
    display: inline-grid;
    text-align: center;

    .block-body {
        margin-left: 0;
    }

    .circle {
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.col-5 {
    grid-column: auto / span 5;
}

.col-10 {
    grid-column: auto / span 10;
}


.fa-check {
    color: $green;
}

// Table

table {
    width: 100%;
    border-collapse: collapse;
    color: lighten($copy, 25);

    thead {
        background-color: lighten($light-blue, 9);
        text-transform: uppercase;
    }

    th, td {
        text-align: center;
        vertical-align: middle;
        border:1px solid lighten($light-blue, 5.5);
        padding: 1.5rem;
        max-width: 12rem;
    }

    th[scope=row] {
        background-color: lighten($light-blue, 12);
        text-align: start;
        padding-left: 1rem;
        font-weight: $font-weight-normal;
    }
}

// Desktop

@include media-lg {
    .page-wrapper {
        max-width: 950px;
        padding: 0;
    }

    .media {
        align-items: flex-start;
        flex-direction: row;
    }

    img {
        margin: 0 2rem 0 2rem;
    }

    .grid {
        grid-gap: 2rem;
    }

    .col-lg-3 {
        grid-column: auto / span 3;
    }

    .col-lg-4 {
        grid-column: auto / span 4;
    }

    .col-lg-5 {
        grid-column: auto / span 5;
    }
}

// Other

.my {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}